<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importar estilos -->
    <link rel="stylesheet" href="../css/pages/contacto.css">
    <link rel="stylesheet" href="../css/import-global.css">
    <link rel="stylesheet" href="../css/import-theme.css">
    <!-- Font Bodoni Moda -->
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap" rel="stylesheet">
    <!-- Font remixicon CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" rel="stylesheet">
    <link rel="icon" href="../img/logo/goblet-line.svg" type="image/svg+xml">
    <!-- Cargar el header -->
    <script src="../js/call-header.js" defer></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <title>Contacto</title>
</head>

<body>
    <!-- Contenedor para el header -->
    <header>
        <div id="header"></div>
    </header>
    <section class="contact">
        <div class="container">
            <h1>Contacto</h1>
            <div class="contact-info">
                <div class="info">
                    <p>
                        <i class="ri-map-pin-2-fill"></i>
                        Dirección: Calle Falsa 123, Ciudad Sa Pobla
                    </p>
                    <p>
                        <i class="ri-phone-fill"></i>
                        Teléfono: +34 111 222 333
                    </p>
                    <p>
                        <i class="ri-mail-fill"></i>
                        Email: info@empresa-catering.com
                    </p>
                    <div class="redes-sociales">
                        <a href="https://www.facebook.com/cg-catering" target="_blank" aria-label="Facebook">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/cg-catering" target="_blank" aria-label="Instagram">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/cg-catering" target="_blank" aria-label="Twitter">
                            <i class="ri-twitter-line"></i>
                        </a>
                        <a href="https://www.tiktok.com/cg-catering" target="_blank" aria-label="TikTok">
                            <i class="ri-tiktok-fill"></i>
                        </a>
                    </div>
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footerc">
        <p>&copy; 2025 CG Caterings Gómez. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/header.js"></script>

    <script>
        var map = L.map('map').setView([39.77161930277983, 3.030444703523567], 17);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Agregar un marcador en las coordenadas de SpaceX
        var marker = L.marker([39.77161930277983, 3.030444703523567]).addTo(map);

        // Agregar un popup al marcador
        marker.bindPopup("<b>Caterings Gomez</b><br>Nave para eventos").openPopup();
    </script>
</body>

</html>