<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importar estilos -->
        <link rel="stylesheet" href="../css/pages/galeria.css">
        <link rel="stylesheet" href="../css/import.css">
        <!-- Incluir el CSS de LightGallery -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
        <!-- Font Bodoni Moda -->
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap" rel="stylesheet">
        <!-- Font remixicon CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" rel="stylesheet">
        <!-- Cargar el header -->
        <script src="../js/call-header.js" defer></script>
        <title>Galería</title>
    </head>
    <body>
        <!-- Contenedor para el header -->
        <header>
            <div id="header"></div>
        </header>
        <h1 style="text-align: center; padding: 20px">Galería de Imágenes</h1>
        <div id="lightGallery" class="gallery">
            <!-- Aquí se cargarán las imágenes --></div>
        <section id="contacto" class="contacto">
            <h2>Contacto</h2>
            <p>
                <strong>Dirección:</strong>
                Calle Falsa 123, Ciudad Sa Pobla
            </p>
            <p>
                <strong>Teléfono:</strong>
                <a href="tel:+34111222333">+34 111 222 3330</a>
            </p>
            <p>
                <strong>Email:</strong>
                <a href="mailto:info@empresa-catering.com">info@empresa-catering.com</a>
            </p>
            <div class="redes-sociales">
                <a href="https://www.facebook.com/cg-catering" target="_blank" aria-label="Facebook">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.instagram.com/cg-catering" target="_blank" aria-label="Instagram">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://twitter.com/cg-catering" target="_blank" aria-label="twitter">
                    <i class="ri-twitter-line"></i>
                </a>
                <a href="https://www.tiktok.com/cg-catering" target="_blank" aria-label="TikTok">
                    <i class="ri-tiktok-fill"></i>
                </a>
            </div>
        </section>
        <!-- Footer -->
        <footer class="footer">
            <p>&copy; 2025 CG Caterings Gómez. Todos los derechos reservados.</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.umd.min.js"></script>
        <script src="../js/galeria.js"></script>
        <script src="../js/header.js"></script>
    </body>
</html>
